html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }

body {
    display: grid;
    grid-template-columns: 1fr, minmax(auto, 80rem) 1fr;
    grid-template-rows: 5rem 1fr auto;
    grid-template-areas:
      ". header ."
      ". main ."
      ". footer .";
      font-family: 'Noto Sans KR', sans-serif;
      margin: 0;
    }

img {
    max-width: 100%;
    }

h5 {
    font-size: 2.5rem;
    font-weight: 400;
    letter-spacing: -0.1rem;
}

h3 {
    font-size: 3rem;
    font-weight: 900;
    letter-spacing: -0.1rem;
}

h2 {
    font-size: 3.5rem;
    letter-spacing: -0.1rem;
}

.header {
    grid-area: header;
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 5rem;
    display: flex;
    justify-content: center;
    background: white;
}

    .navigation {
        width: 100%;    
    } 

    .navigation-items {
        display: flex;
        list-style: none;
    }
    
    .nav-link {
        margin: 0rem 1rem;
        text-decoration: none;
        color: black;
    }

    .header_bmwcountry {
        
    }

.main {
    grid-area: main;
}

    .herogrid {
        display: grid;
        grid-template-columns: repeat(2, 50rem);
        grid-template-rows: repeat(2, 56.2rem);
        grid-template-areas:
        "upperone upperone"
        "videoleft videoright";
    }

    .tile-link {
        position: relative;
        display: flex;
    }

    .text-hero {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    margin: 0em 0.5em;
    }

    .upperone {
        grid-area: upperone;
    }

    .videoleft {
        grid-area: videoleft;
    }

    .videoright {
        grid-area: videoright;
    }

    .find-your-bmw {
        display: block;
        width: 100%;
        height: 15rem;
        text-align: center;
        line-height: 0.7rem;
        padding: 0rem;
        }
        .heading-uppercase {
            text-transform: uppercase;
            font-size: 6rem; 
            letter-spacing: -0.3rem;
        }

        .find-bmw {
            text-decoration-line: none;
            font-weight: 900;
            color: black;
        }

    .to-watch-grid{
        display: grid;
        grid-template-columns: repeat(3, 33rem);
        grid-template-rows: repeat(6, 20rem);
        grid-template-areas:
        "acceleration       acceleration    advice1"
        "acceleration       acceleration    design"
        "selfdrivingcars    carsharing      autonomousdriving"
        "music              mapping         mapping"
        "erlkonig           mapping         mapping"
        "smartcities        innovation      advice2";
    }

    .acceleration {
        grid-area: acceleration;
    }

    .advice1 {
        grid-area: advice1;
    }

    .design {
        grid-area: design;
    }

    .selfdrivingcars {
        grid-area: selfdrivingcars;
    }

    .carsharing {
        grid-area: carsharing;
    }

    .autonomousdriving {
        grid-area: autonomousdriving;
    }

    .music {
        grid-area: music;
    }

    .mapping {
        grid-area: mapping;
    }

    .erlkonig {
        grid-area: erlkonig;
    }

    .smartcities {
        grid-area: smartcities;
    }

    .innovation {
        grid-area: innovation;
    }

    .advice2 {
        grid-area: advice2
    }


    .tile-text {
        position: relative;
        align-self: flex-end;
        font-size: 1.3rem;
        color: black;
        letter-spacing: -0.03em;
        margin: 1em;
        }

        .subject {
            font-weight: 900;
        }

.footer {
    grid-area: footer;
    background-color: black;
    /* color: beige;
    display: flex;
    align-items: center;
    justify-content: space-between; */
    padding: 5rem 20rem;
    }

    .language {
        margin: 0rem;
    }

    .language-list {
        display: flex;
    }   

    .lang-link {
        color: grey;
        list-style: none;
        text-decoration: none;
        padding: 0rem 1rem;
    }

    .colomn {
        display: flex;
        flex-direction: column;
    }