html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }

body {
    display: grid;
    grid-template-columns: 1fr, minmax(auto) 1fr;
    grid-template-rows: 5rem 1fr auto;
    grid-template-areas:
      ". header ."
      ". main ."
      ". footer .";
      font-family: 'Noto Sans KR', sans-serif;
      margin: 0;
    }

img {
    /* height: 100%; */
    max-width: 100%;
    }

video {
    /* height: 100%; */
    max-width: 100%;
    }

h5 {
    font-size: 2.5rem;
    font-weight: 400;
    letter-spacing: -0.1rem;
    margin: 0;
    }

h3 {
    font-size: 3.5rem;
    font-weight: 900;
    line-height: 4rem;
    letter-spacing: -0.1rem;
    }

h2 {
    font-size: 6rem;
    line-height: 6rem;
    letter-spacing: -0.1rem;
    }

.header {
    grid-area: header;
    top: 0; left: 0;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ececec;
}

    .navigation {
        border-right-style: solid;
        border-width: 1px;
        margin: 0 1rem 0 0;
    }

    .navigation-items {
        display: flex;
        list-style: none;
        color:#333333;
        margin: 0rem;
        font-size: 1rem;
    }

    .fa-search {
        padding-left: 1rem;
        color:#333333;
        font-size: 1.3rem;
        margin: 0 0 0 1rem;
    }

        .fa-search:hover  {
            color: #639bee;
        }

    .fa-globe-africa {
        color:#333333;
        font-size: 1.3rem;
        margin: 0 1rem;
    }

    .nav-link {
        text-decoration: none;
        color: grey;
        margin: 0rem 1rem 0rem 0rem; 
    }

        .nav-link:hover {
            color: #639bee;
        }

    .header_bmwcountry {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-size: 0.6rem;
        font-weight: 900;
        color: #333333;
        width: 30%;
    }

    .bmw-logo {
        width: 10px;
        height: 10px;
        transform: scale(10);
        line-height: 1rem;
        margin: 0rem;
    }
    

.main {
    grid-area: main;
}

    .herogrid {
        display: grid;
        grid-template-columns: repeat(2, 50rem);
        grid-template-rows: auto;
        grid-template-areas:
        "upperone upperone"
        "videoleft videoright";
        grid-gap: 0.3rem;
    }

    .hero-link {
        background-position: top;
    }

    .tile-link {
        display: flex;
    }

    .text-hero {
        position: absolute;
        margin: 0 0 4vw 4vw;
        line-height: 5vw;
    }

    .text-leftright {
        margin: 0rem 0rem 3rem 3rem;
        position: absolute;
        color: white;
    }

        .subheading {
            margin: 0rem;
        }

        .heading {
            margin: 0 0 2.5vw 0;
        }

    .readmore {
        font-size: 0.8rem;
        font-weight: 900;
        text-align: center;
        text-decoration-line: none;
        color: white;
        border: 3px solid white;
        padding: 1vw 2vw;
        margin: 0rem;
        width: 30%; 
        line-height: 2rem;
    }

    .upperone {
        grid-area: upperone;
        display: flex;
        align-items: flex-end;
    }

    .videoleft {
        grid-area: videoleft;
        display: flex;
        align-items: flex-end;
    }

    .videoright {
        grid-area: videoright;
        display: flex;
        align-items: flex-end;
    }

    .find-your-bmw {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 3rem;
        }

        .heading-uppercase {
            text-transform: uppercase;
            letter-spacing: -0.1rem;
            margin: 0;
        }

        .find-bmw {
            text-decoration-line: none;
            font-weight: 900;
            color: black;
            margin: 0rem;
        }

    .to-watch-grid {
        display: grid;
        grid-template-columns: repeat(3, 33rem);
        grid-template-rows: repeat(6, 18.5em);
        grid-template-areas:
        "acceleration       acceleration    advice1"
        "acceleration       acceleration    design"
        "selfdrivingcars    carsharing      autonomousdriving"
        "music              mapping         mapping"
        "erlkonig           mapping         mapping"
        "smartcities        innovation      advice2";
        grid-gap: 0.3rem;
    }

    .acceleration {
        grid-area: acceleration;
        display: flex;
        align-items: flex-end;
    }

    .advice1 {
        grid-area: advice1;
        display: flex;
        align-items: flex-end;
    }

    .design {
        grid-area: design;
        display: flex;
        align-items: flex-end;
    }

    .selfdrivingcars {
        grid-area: selfdrivingcars;
        display: flex;
        align-items: flex-end;
    }

    .carsharing {
        grid-area: carsharing;
        display: flex;
        align-items: flex-end;
    }

    .autonomousdriving {
        grid-area: autonomousdriving;
        display: flex;
        align-items: flex-end;
    }

    .music {
        grid-area: music;
        display: flex;
        align-items: flex-end;
    }

    .mapping {
        grid-area: mapping;
        display: flex;
        align-items: flex-end;
    }

    .erlkonig {
        grid-area: erlkonig;
        display: flex;
        align-items: flex-end;
    }

    .smartcities {
        grid-area: smartcities;
        display: flex;
        align-items: flex-end;
    }

    .innovation {
        grid-area: innovation;
        display: flex;
        align-items: flex-end;
    }

    .advice2 {
        grid-area: advice2;
        display: flex;
        align-items: flex-end;
    }

    .tile-text {
        position: absolute;
        align-self: flex-end;
        font-size: 1rem;
        color: white;
        letter-spacing: -0.03em;
        margin: 1em;
        line-height: 1.5rem;
        }

        .headline {
            margin: 0.5rem 0;
        }

        .subject {
            font-weight: 900;
            margin: 0.5rem 0;
        }

    .buttonshow {
        display: flex;
        justify-content: center;
    }    
        
        .showmore {
            font-size: 1rem;
            font-weight: 900;
            text-decoration: none;
            color: black;
            border: 3px solid black;
            padding: 0rem 10rem;
            margin: 3rem 3rem;
            line-height: 2rem;
        }

.footer {
    grid-area: footer;
    display: grid;
    grid-template-columns: 1fr, minmax(20rem, auto);
    grid-template-areas:
    ".  language    language   .          ."
    ".  column1     column2    column3    ."
    ".  footer-text .          .          .";
    background-color: #333333;
    }

    .language {
        grid-area: language;
    }

        .language-list {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            list-style: none;
            padding: 0rem;
            margin: 3rem 0rem;
        }   

        .lang-link {
            color: grey;
            text-decoration: none;
            margin: 0rem 3rem 0rem 0rem;
        }

        .lang-link:hover {
            color: white;
        }

    .column1 {
        grid-area: column1;
        list-style: none;
        margin: 0 0 3rem 0;
    }

    .column2 {
        grid-area: column2;
        list-style: none;
        margin: 0 0 3rem 0;
    }

    .column3 {
        grid-area: column3;
        list-style: none;
        margin: 0 0 3rem 0;
    }

    .footer_subheads {
        font-weight: 900;
        font-size: 1.3rem;
        color: white;
    }
    
        .footer_subheads::after {
            content: "";
            position: relative;
            top: 1rem;
            left: 0px;
            width: 20rem;
            height: 1px;
            background: grey;
            display: block;
        }

    .colomn-link {
        color: grey;
        text-decoration: none;
        line-height: 2.5rem;
    }

        .colomn-link:hover {
            color: white;
        }

    .footer-text {
        grid-area: footer-text;
        font-weight: 900;
        font-size: 1.2rem;
        color: white;
        padding: 1 0rem;
    }



@media screen and (max-width: 48rem) {
    body { grid-template-rows: 4.5rem 1fr auto;
    }

    .header {
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .navigation-items {
        font-size: 1.4vw;
    }

    .fa-search {
        padding-left: 1rem;
        font-size: 2vw;
        margin: 0 0 0 1rem;
    }

    .fa-globe-africa {
        font-size: 2vw;
        margin: 0 1rem;
    }

    .header_bmwcountry {
        width: 22%;
        margin-right: 1rem;
    }

    .bmw-logo {
        width: 10px;
        height: 10px;
        transform: scale(5);
        line-height: 0.7rem;
    }

    .herogrid {
        grid-template-columns: 1fr; 
        grid-template-rows: auto;
        grid-template-areas:
        "upperone"
        "videoleft"
        "videoright";
    }

    h2 {
        font-size: 10vw;
        line-height: 10vw;
    }

    .find-your-bmw {
        font-size: 3vw;
    }

    .to-watch-grid {
        grid-template-columns: repeat(2, 25rem); 
        grid-template-rows: auto;
        grid-template-areas:
        "acceleration       acceleration"
        "advice1            design"
        "selfdrivingcars    carsharing"
        "autonomousdriving  autonomousdriving"
        "music              mapping"
        "erlkonig           smartcities"
        "innovation         advice2";
    }

    .footer {
        grid-template-columns: 1fr; 
        grid-template-rows: auto;
        grid-template-areas:
        "language"
        "column1"
        "column2"
        "column3"
        "footer-text";
        padding: 0 6rem;
    }

    .footer_subheads {
        font-size: 1rem;
        color: white;
    }
    
        .footer_subheads::after {
            content: "";
            position: relative;
            top: 1rem;
            left: 0px;
            width: 35rem;
            height: 1px;
            background: grey;
            display: block;
        }

    .footer-text {
        font-size: 0.8rem;
        margin: 0 0 3rem 0;
        color: white;
    }
}